@import url(../node_modules/normalize.css/normalize.css);
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #0056b3;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }
  @media (max-width: 1200px) {
    legend {
      font-size: calc(1.275rem + 0.3vw) ; } }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  margin: 0; }
  body p {
    line-height: 1.6; }
  body a {
    text-decoration: none;
    color: green; }

li {
  line-height: 1.7; }

time {
  font-weight: bold; }

img {
  height: 100%;
  width: 100%; }

.container {
  max-width: 90rem; }
  @media (min-width: 992px) {
    .container {
      margin: 0 auto; } }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.margin__top {
  margin-top: 1rem; }

.margin__bottom {
  margin-bottom: 1rem; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.site-header {
  margin: 1rem 0; }
  .site-header__container-list {
    display: flex;
    justify-content: flex-end; }
  .site-header__list-item {
    display: inline-block; }
    .site-header__list-item:first-child .menu-link {
      padding-left: 0; }
    .site-header__list-item:last-child .menu-link {
      padding-right: 0; }
  .site-header__logo {
    display: none;
    background-color: white;
    padding: 0rem 1rem;
    z-index: 2;
    margin-bottom: -1rem;
    border: 2px solid black; }
    .site-header__logo a {
      color: black; }
    @media (min-width: 576px) {
      .site-header__logo {
        display: block; } }

.menu-link {
  padding: 0 1rem;
  color: black; }
  .menu-link:hover {
    text-decoration: none; }
  .menu-link:before {
    margin-right: 0.2rem; }

.banner {
  height: 10rem; }
  @media (min-width: 576px) {
    .banner {
      height: 25rem; } }
  .banner__img {
    object-fit: cover; }

.main-content {
  margin: 2rem 0; }
  .main-content__list__item {
    padding-left: 1.6rem; }

.bio {
  flex: 1; }
  @media (min-width: 576px) {
    .bio {
      border-left: 1px solid gray;
      padding-left: 2rem; } }

.profile {
  flex: 1;
  text-align: center; }
  .profile__img {
    border-radius: 50%;
    max-width: 20rem;
    box-shadow: 2px 5px 9px lightgrey; }

.intro {
  flex-direction: column; }
  @media (min-width: 576px) {
    .intro {
      flex-direction: row; } }

.mySlider {
  position: relative; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0;
  outline: none; }
  .slick-arrow:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    font-size: 3rem;
    content: "<"; }

.slick-next {
  right: 0; }
  .slick-next:before {
    font-size: 3rem;
    content: ">"; }

.slick-dots {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    margin: 0 0.5rem; }
  .slick-dots button {
    border: none;
    color: black;
    border-radius: 50%;
    padding: 0.5rem; }
  .slick-dots .slick-active button {
    background-color: #245494;
    color: white; }

.site-footer {
  padding: 2rem 0;
  font-size: 1.4rem; }

.strength {
  margin-bottom: 4rem; }
  .strength__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .strength__item {
    flex-basis: 33.3%;
    margin-bottom: 3rem; }
    .strength__item:last-child {
      margin-bottom: 0; }
  .strength-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 4px #000;
    transition: box-shadow 500ms;
    padding: 1rem; }
    .strength-card img {
      width: 7rem;
      margin-right: 2rem; }
    .strength-card:hover {
      box-shadow: 4px 4px 9px #2D357B; }
  .strength__source {
    font-size: 1.4rem;
    margin-top: 2rem;
    display: block;
    text-align: end; }

.showcase {
  margin-bottom: 4rem; }

.login {
  margin-top: 4rem;
  box-shadow: 4px 4px 9px #245494;
  max-width: 30rem;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto; }
  .login-container {
    text-align: center; }
  .login input {
    padding: .4rem 1rem;
    border-radius: 20rem;
    margin-bottom: 2rem; }
  .login .login-btn {
    display: block;
    padding: .3rem 1rem;
    margin: 0 auto;
    border: none;
    color: green; }

.sketch {
  text-align: center;
  margin-bottom: 4rem; }
