@charset "UTF-8";
@import url(../node_modules/normalize.css/normalize.css);
/* Slider */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap");
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: "icomoon";
  src: url("../assets/icons/fonts/icomoon.eot?7javga");
  src: url("../assets/icons/fonts/icomoon.eot?7javga#iefix") format("embedded-opentype"), url("../assets/icons/fonts/icomoon.ttf?7javga") format("truetype"), url("../assets/icons/fonts/icomoon.woff?7javga") format("woff"), url("../assets/icons/fonts/icomoon.svg?7javga#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-back:before {
  content: ""; }

.icon-next:before {
  content: ""; }

.icon-profile:before {
  content: ""; }

.icon-file:before {
  content: ""; }

.icon-document:before {
  content: ""; }

.icon-page:before {
  content: ""; }

.icon-user:before {
  content: ""; }

.icon-paper:before {
  content: ""; }

.icon-linkedin1:before {
  content: ""; }

.icon-brand2:before {
  content: ""; }

.icon-social2:before {
  content: ""; }

.icon-linkedin:before {
  content: ""; }

.icon-brand1:before {
  content: ""; }

.icon-social1:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-brand:before {
  content: ""; }

.icon-social:before {
  content: ""; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Nunito', sans-serif;
  margin: 0; }
  body p {
    line-height: 1.6; }
  body a {
    text-decoration: none;
    color: green; }

li {
  line-height: 1.7; }

time {
  font-weight: bold; }

img {
  height: 100%;
  width: 100%; }

.container {
  max-width: 90rem;
  margin: 0 2rem; }
  @media (min-width: 992px) {
    .container {
      margin: 0 auto; } }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.margin__top {
  margin-top: 1rem; }

.margin__bottom {
  margin-bottom: 1rem; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.site-header__list-item {
  display: inline-block; }
  .site-header__list-item:first-child .menu-link {
    padding-left: 0; }
  .site-header__list-item:last-child .menu-link {
    padding-right: 0; }

.site-header__logo {
  display: none;
  background-color: white;
  padding: 0rem 1rem;
  z-index: 2;
  margin-bottom: -1rem;
  border: 2px solid black; }
  .site-header__logo a {
    color: black; }
  @media (min-width: 576px) {
    .site-header__logo {
      display: block; } }

.menu-link {
  padding: 0 1rem;
  color: black; }
  .menu-link:hover {
    text-decoration: none; }
  .menu-link:before {
    margin-right: .2rem; }

.banner {
  height: 25rem; }
  .banner__img {
    object-fit: cover; }

.main-content {
  margin: 2rem 0; }
  .main-content__list__item {
    padding-left: 1.6rem; }

.bio {
  flex: 1; }
  @media (min-width: 576px) {
    .bio {
      border-left: 1px solid gray;
      padding-left: 2rem; } }

.profile {
  flex: 1;
  text-align: center; }
  .profile__img {
    border-radius: 50%;
    max-width: 20rem;
    box-shadow: 2px 5px 9px lightgrey; }

.intro {
  flex-direction: column; }
  @media (min-width: 576px) {
    .intro {
      flex-direction: row; } }

.mySlider {
  position: relative; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  padding: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 0;
  outline: none; }
  .slick-arrow:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    font-size: 3rem;
    font-family: "icomoon";
    content: ""; }

.slick-next {
  right: 0; }
  .slick-next:before {
    font-size: 3rem;
    font-family: "icomoon";
    content: ""; }

.slick-dots {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    margin: 0 .5rem; }
  .slick-dots button {
    border: none;
    color: black;
    border-radius: 50%;
    padding: .5rem; }
  .slick-dots .slick-active button {
    background-color: #245494;
    color: white; }

.site-footer {
  padding: 2rem 0;
  font-size: 1.4rem; }

.strength {
  margin-bottom: 4rem; }
  .strength__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; }
  .strength__item {
    flex-basis: 33.3%;
    margin-bottom: 3rem; }
    .strength__item:last-child {
      margin-bottom: 0; }
  .strength-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 4px 4px 9px #245494;
    padding: 1rem; }
    .strength-card img {
      width: 7rem;
      margin-right: 2rem; }
    .strength-card:hover {
      box-shadow: 4px 4px 9px #2D357B; }
  .strength__source {
    font-size: 1.4rem;
    margin-top: 2rem;
    display: block;
    text-align: end; }

.showcase {
  margin-bottom: 4rem; }

.login {
  margin-top: 4rem;
  box-shadow: 4px 4px 9px #245494;
  max-width: 30rem;
  padding: 2rem;
  margin-right: auto;
  margin-left: auto; }
  .login-container {
    text-align: center; }
  .login input {
    padding: .4rem 1rem;
    border-radius: 20rem;
    margin-bottom: 2rem; }
  .login .login-btn {
    display: block;
    padding: .3rem 1rem;
    margin: 0 auto;
    border: none;
    color: green; }
