@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/slick-carousel/slick/slick.scss";
@import "../assets/icons/style.scss";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap');
@import "base/variables";
@import "base/base";
@import "base/helpers";
@import "molecules/header";
@import "molecules/banner";
@import "molecules/content";
@import "molecules/footer";

@import "molecules/components";

