.site-header {

  &__list-item {
    display: inline-block;
    &:first-child {
      .menu-link {
        padding-left: 0;
      }
    }
    &:last-child {
      .menu-link {
        padding-right: 0;
      }
    }
  }

  &__logo {
    display: none;
    background-color: white;
    padding: 0rem 1rem;
    z-index: 2;
    margin-bottom: -1rem;
    border: 2px solid black;
    @media (min-width: $screen-sm) {
      display: block;
    }
  }

}

.menu-link {
  padding: 0 1rem;
  color: black;
  &:hover {
    text-decoration: none;
  }
  &:before {
    margin-right: .2rem;
  }
}