.strength {
    margin-bottom: $spacing-features-bottom;
    &__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__item {
        flex-basis: 33.3%;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }

    }
    &-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 7rem;
            margin-right: 2rem;
        }
        box-shadow: 1px 1px 4px #000;
        transition: box-shadow 500ms;
        padding: 1rem;
        &:hover {
            box-shadow: 4px 4px 9px $color-p1;
        }
    }
    &__source {
        font-size: 1.4rem;
        margin-top: 2rem;
        display: block;
        text-align: end;
    }
}