html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'PT Mono', monospace;

    p {
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: $color-s1;
        &:hover {
            text-decoration: underline;
        }

    }

}

.container {
    max-width: 800px;
    margin: 0 auto;

}



.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

