html {
    font-size: 62.5%;
}

body {
    background: rgb(36,84,148);
    background: linear-gradient(90deg, rgba(36,84,148,1) 0%, rgba(192,55,147,1) 50%, rgba(252,176,69,1) 100%);
    height: 100vh;
    margin: 0;
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'PT Mono', monospace;

    @media only screen and (max-width: 730px) {
        padding: 2rem;
    }

    p {
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: $color-s1;
        &:hover {
            text-decoration: underline;
        }
    }

}

.container {
    border-radius: 5rem;
    border: 3px dashed $color-p1;
    max-width: 100%;
    padding: 20px;
    background-color: rgba($color: #fff, $alpha: 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    @media only screen and (max-width: 730px) {
        left: 0;
        top: 0;
        padding: 2rem;
        border: 0;
        position: relative;
        transform: none;
    }

   

    .img-container {
       
        width: 100%;
    }
    img {
        border-radius: 2.5rem;
        transition: all ease-in-out .3s;
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }

    h1 {
        border-bottom: 1px solid $color-s2;
        padding-bottom: 1rem;
        margin: 0;
        font-size: 6vw;
        color: $color-p1;
    }

    
}

.socialmedia {
    list-style-type: none;
    &--item {
        display: inline-block;
        padding: 2rem 0;
        img {
            border-radius: 0;
            max-width: 3rem;
        }

    }

    
}

.list-reset {
    margin: 0;
    padding: 0;
}
