html {
    font-size: 62.5%;
}

body {
    background-image: url("../../assets/lance.jpg");
    background-size: cover;
    background-color: #AAEFDF;
    font-size: 1.8rem;
    font-family: 'PT Mono', monospace;

    p {
        line-height: 1.6;
    }

    a {
        text-decoration: none;
        color: #63C132;
        &:hover {
            text-decoration: underline;
        }
    }

}

.container {
    border-radius: 5rem;
    border: 3px dashed #9EE37D;
    max-width: 50rem;
    padding: 20px;
    background-color: #CFFCFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    img {
        border-radius: 5rem;
        transition: all ease-in-out .3s;
       
    }

    h1 {
        border-bottom: 1px solid #9EE37D;
        padding-bottom: 1rem;
        font-size: 6rem;
    }

    
}

.socialmedia {
    list-style-type: none;
    &--item {
        display: inline-block;
        padding: 2rem 0;
        img {
            border-radius: 0;
            max-width: 3rem;
        }

    }

    
}

.list-reset {
    margin: 0;
    padding: 0;
}