$color-p1: #2D357B;
$color-s1: #245494;

$color-p3: green;

$color-p2: #C03793;
$color-s2: #C77198;

// media breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$spacing-features-bottom: 4rem;
$spacing-features-top: 4rem;