.login.container
    p Not authorized, please login to continue.
    .login-container
        input.username(type="text", placeholder="Username")
        input.password(type="password", placeholder="Password")
        button.login-btn Login