.showcase
    h2.mb-0 Photos taken by me
    h4.mt-0 Dolomites July 2019
    .mySlider
        img(src="assets/slider_imgs/dolomites-1.jpg", alt="Dolomites taken by Rohan with a Canon 5D mark 4")
        img(src="assets/slider_imgs/dolomites-2.jpg", alt="Dolomites taken by Rohan with a Canon 5D mark 4")
        img(src="assets/slider_imgs/dolomites-3.jpg", alt="Dolomites taken by Rohan with a Canon 5D mark 4")
        img(src="assets/slider_imgs/dolomites-4.jpg", alt="Dolomites taken by Rohan with a Canon 5D mark 4")
        img(src="assets/slider_imgs/dolomites-5.jpg", alt="Dolomites taken by Rohan with a Canon 5D mark 4")