.strength 
    h2 My top 5 strenghts
    .strength__container
        .strength__item 
            .strength-card
                img(src="assets/strength_icons/social-relations.png", alt="icon")
                .strength__text
                    h3 Relator
                    p People exceptionally talented in the Relator theme enjoy close relationships with others. They find deep satisfaction in working hard with friends to achieve a goal.
        .strength__item 
            .strength-card
                img(src="assets/strength_icons/idea.png", alt="icon")
                .strength__text
                    h3 Ideation
                    p People exceptionally talented in the Ideation theme are fascinated by ideas. They are able to find connections between seemingly disparate phenomena.
        .strength__item 
            .strength-card
                img(src="assets/strength_icons/looping-arrows.png", alt="icon")
                .strength__text
                    h3 Consistency
                    p People exceptionally talented in the Consistency theme are keenly aware of the need to treat people the same. They crave stable routines and clear rules and procedures that everyone can follow.
        .strength__item 
            .strength-card
                img(src="assets/strength_icons/reading.png", alt="icon")
                .strength__text
                    h3 Learner
                    p People exceptionally talented in the Learner theme have a great desire to learn and want to continuously improve. The process of learning, rather than the outcome, excites them.
        .strength__item 
            .strength-card
                img(src="assets/strength_icons/entrepreneur.png", alt="icon")
                .strength__text
                    h3 Responsibility
                    p People exceptionally talented in the Responsibility theme take psychological ownership of what they say they will do. They are committed to stable values such as honesty and loyalty.
    span.strength__source According to 
        a(href="https://www.gallup.com/cliftonstrengths/en/254033/strengthsfinder.aspx", target="_blank") CliftonStrengths