main.container
    .main-content
        .d-flex
            .profile
                img(src="assets/rohan/md.png", alt="rohan", class="profile__img")
            .bio
                h1 Rohan
                ul.main-content__list
                    li.main-content__list__item Computer Science student
                    li.main-content__list__item Year 3 
                        a(href="https://inholland.nl/", target="_blank") InHolland Haarlem
                    li.main-content__list__item Interested in front-end (webdevelopment)
                    li.main-content__list__item Currently learning about Mobile development (Kotlin &amp; Swift &#63743;)
                    li.main-content__list__item Love photography

        .showcase
            h2.mb-0 Photos taken by me
            h4.mt-0 Dolomites July 2019
            .mySlider
                img(src="assets/slider_imgs/1.jpg", alt="sdf")
                img(src="assets/slider_imgs/2.jpg", alt="sdf")
                img(src="assets/slider_imgs/3.jpg", alt="sdf")
                img(src="assets/slider_imgs/4.jpg", alt="sdf")
                img(src="assets/slider_imgs/5.jpg", alt="sdf")


