main.container
    .main-content
        .d-flex
            .profile
                img(src="assets/rohan/md.png", alt="rohan", class="profile__img")
            .bio
                h1 Rohan
                ul.main-content__list
                    li.main-content__list__item Informatica student 
                    li.main-content__list__item Jaar 3 
                        a(href="https://inholland.nl/", target="_blank") InHolland Haarlem
                    li.main-content__list__item Specialisatie front-end webdevelopment
                    li.main-content__list__item Love photography

        .mySlider
            img(src="assets/slider_imgs/1.jpg", alt="sdf")
            img(src="assets/slider_imgs/2.jpg", alt="sdf")
            img(src="assets/slider_imgs/3.jpg", alt="sdf")
            img(src="assets/slider_imgs/4.jpg", alt="sdf")
            img(src="assets/slider_imgs/5.jpg", alt="sdf")


