main.container
    .main-content
        .d-flex
            .profile
                img(src="assets/rohan/md.png", alt="rohan", class="profile__img")
            .bio
                h1 Rohan
                p Info