main.container
    .main-content
        .d-flex.intro
            .profile
                img(src="assets/rohan/md.png", alt="rohan", class="profile__img")
            .bio
                h1 Rohan
                ul.main-content__list
                    li.main-content__list__item Computer Science student
                    li.main-content__list__item Year 3 
                        a(href="https://inholland.nl/", target="_blank") InHolland Haarlem
                    li.main-content__list__item Interested in front-end (webdevelopment)
                    li.main-content__list__item Currently learning about Mobile development (Kotlin &amp; Swift &#63743;)
                    li.main-content__list__item Love photography
        include features/strength.pug
        include features/slideshow.pug


