footer.site-footer
    .container
        .d-flex
            .section
                p This website was build with the following tools:
                ul
                    li PUG template
                    li Sass
                    li Gulp v4
                    li BrowserSync
                    li SlickSlider
                    li Icomoon
            .section
                p Website last updated: 
                    time(datetime="2019-10-09") October 9, 2019