head    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Rohan
    link(rel="stylesheet", href="css/main.css")
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js")
    script(src="JS/slick.js")
    script(src="JS/sliderBehaviour.js")

    