header.site-header.margin__top 
    .container
        .d-flex
            h1.site-header__logo Rohan
            ul.list-reset
                li.site-header__list-item
                    a(href="#" class="menu-link icon-instagram") Instagram
                li.site-header__list-item
                    a(href="#" class="menu-link icon-linkedin") Linkedin
                li.site-header__list-item
                    a(href="#" class="menu-link icon-profile") CV