header.site-header.margin__top 
    .container
        .d-flex
            h1.site-header__logo 
                a(href="index.html") Rohan
            ul.list-reset
                li.site-header__list-item
                    a(href="https://instagram.com/rohanphoto/", target="_blank", class="menu-link icon-instagram") Instagram
                li.site-header__list-item
                    a(href="https://www.linkedin.com/in/rohanvanwijk/", target="_blank", class="menu-link icon-linkedin") Linkedin
                li.site-header__list-item
                    a(href="cv.html", class="menu-link icon-profile") CV