header.site-header
    .container
        .site-header__container-list
            ul.list-reset
                li.site-header__list-item
                    a(href="https://instagram.com/rohanphoto/", target="_blank", class="menu-link") Instagram
                li.site-header__list-item
                    a(href="https://www.linkedin.com/in/rohanvanwijk/", target="_blank", class="menu-link") Linkedin
                li.site-header__list-item
                    a(href="cv.html", class="menu-link") CV