$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-profile: "\e900";
$icon-file: "\e900";
$icon-document: "\e900";
$icon-page: "\e900";
$icon-user: "\e900";
$icon-paper: "\e900";
$icon-linkedin1: "\e901";
$icon-brand2: "\e901";
$icon-social2: "\e901";
$icon-linkedin: "\e902";
$icon-brand1: "\e902";
$icon-social1: "\e902";
$icon-instagram: "\e903";
$icon-brand: "\e903";
$icon-social: "\e903";

